/* NOTE: I only tested this on Google Chrome.*/

.Loading.true {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
  animation: gradient 12s ease infinite;
  height: 100vh;
  width: 100vw;
  z-index: 2;
}
.Loading.false {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
  animation: gradient 10s ease infinite;
  height: 100vh;
  width: 100vw;
  z-index: 2;
}

.landing__nombre {
  height: 100%;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  animation: loading-false 2s;
  animation-delay: 10s;
  animation-fill-mode: forwards;
  animation-direction: normal;
}

.imagenLoading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  cursor: pointer;
  transition: all 0.3s;
  opacity: 0.5;
}

.imagenLoading img {
  width: 30px;
}

.imagenLoading:hover {
  opacity: 1;
  cursor: pointer;
}

/* ANIMACION DESAPARICION LIAM */

@keyframes loading-false {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.containerLoading {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 100px;
}

.containerLoading h1:nth-child(1) {
  color: #355c7d;
  font-family: 'Fira Code', monospace;
  font-weight: 800;
  font-size: 20px;
  margin: 0 0 0 35%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  width: 170px;
  animation: type 2.5s steps(40, end) forwards;
}

.containerLoading h1:nth-child(2) {
  opacity: 0;
  font-family: 'Work Sans', sans-serif;
  margin: 0 auto auto auto;
  background: linear-gradient(-45deg, #ff3c00, #ff0062, #00bbff, #00ffc3);
  font-weight: 800;
  font-size: 100px;
  width: 430px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
  animation: shring-animation 2.2s steps(40, end) 2s forwards, blink 0.5s step-end infinite alternate;
  animation-delay: 2.5s;
}

/* ANIMACIONES LETRAS Y FONDO */

@keyframes shring-animation {
  0% {
    background-position: 0 0;
    opacity: 0;
    width: 0;
  }
  1% {
    background-position: 0 0;
    opacity: 1;
    border-right: 1px solid orange;
  }
  50% {
    background-position: 150px 0;
    opacity: 1;
    border-right: 1px solid orange;
  }
  100% {
    background-position: 400px 0;
    opacity: 1;
    border-right: 1px solid orange;
  }
}

@keyframes type {
  0% {
    width: 0;
  }
  1%,
  99% {
    border-right: 1px solid orange;
  }
  100% {
    border-right: none;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
