.Proyectos_Container{
	padding-top: 10%;
	padding-bottom: 10%;
	font-family: 'Roboto', sans-serif;
}


.Proyectos_Container img:hover{
	filter: sepia(32%) saturate(43%);
	-webkit-filter: sepia(32%) saturate(43%);
	-moz-filter: sepia(32%) saturate(43%);
transition: 2s;
}


